body {
    font-family: "Museo Slab";
    background-color: white;
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

#nav {
    background: linear-gradient(113deg, #00e79d, #02d1d8);
    color: white;
    width: 100vw;
    padding: 20px 0;
    font-size: 13pt;
}

#nav .user {
    margin: 0 40px;
    text-align: right;
}

#nav .logo {
    text-align: left;
    margin: 0 30px;
    font-family: "OCR A Std", "sans serif";
    color: black;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
    padding: 20px 10px;
}

header {
    padding: 15px 15px 5px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 23pt;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

#pagination a {
    margin: 0;
    color: darkslategray;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
    padding: 10px 0;
    
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}